@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link:hover {
    @apply underline;
  }
  .nav-link.active {
    @apply underline;
  }
}

@layer components {
  .main-bg {
    @apply w-full min-h-screen bg-gray-200 text-gray-900 overflow-x-hidden transition-colors duration-300;
    --pattern-line-color: #00000015;
    --pattern-box-size: 20px;
    background-image: linear-gradient(
        var(--pattern-line-color) 1px,
        transparent 1px
      ),
      linear-gradient(to right, var(--pattern-line-color) 1px, transparent 1px);
    background-size: var(--pattern-box-size) var(--pattern-box-size);
  }
  :is(.dark .main-bg) {
    @apply bg-gray-900 text-gray-100;
    --pattern-line-color: #ffffff08;
  }
}

@layer components {
  .loader {
    @apply w-10 h-11 rounded-lg overflow-hidden;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: loader-animation 1.5s linear infinite;
  }
  @keyframes loader-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}
