@import url("./utility.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  --pattern-line-color: #00000015;
  --pattern-line-width: 1px;
  --pattern-box-size: 30px;
  @apply w-full min-h-screen relative bg-gray-100 text-gray-900 overflow-x-hidden transition-colors duration-300;
  background-image: linear-gradient(
      var(--pattern-line-color) var(--pattern-line-width),
      transparent var(--pattern-line-width)
    ),
    linear-gradient(
      to right,
      var(--pattern-line-color) var(--pattern-line-width),
      transparent var(--pattern-line-width)
    );
  background-size: var(--pattern-box-size) var(--pattern-box-size);
}
:is(.dark .main-bg) {
  @apply bg-gray-900 text-gray-50;
  --pattern-line-color: #ffffff08;
}
