@layer components {
  .border-color {
    @apply border-gray-400 dark:border-gray-700;
  }
}
@layer components {
  .container-bg {
    @apply bg-gray-200 dark:bg-gray-800 border border-color;
  }
}
@layer components {
  .btn {
    --padding: 8px;
    --font-width: 600;
    --font-size: 16px;
    @apply inline-flex justify-center items-center gap-1 p-2 font-semibold capitalize rounded-lg duration-300;
    padding: var(--padding);
    font-weight: var(--font-width);
    font-size: var(--font-size);
  }
  .btn-sm {
    --padding: 6px;
    --font-width: 500;
    --font-size: 14px;
  }
  .btn-pri {
    @apply text-gray-50 bg-sky-600;
  }
  .btn-pri-outline {
    @apply text-sky-600 bg-none border border-sky-600;
  }
  .btn:active:focus {
    @apply scale-95;
  }
  .icon-btn {
    @apply inline-flex items-center justify-center w-10 h-10 rounded-full container-bg;
  }
}

@layer components {
  .pagination-btn {
    @apply py-0.5 px-2 rounded-lg text-gray-50 bg-sky-600 duration-300 text-sm;
  }
  .pagination-btn:active:focus {
    @apply scale-95;
  }
  .pagination-item {
    @apply py-0.5 px-1.5 rounded-lg text-sky-600 border border-sky-600 bg-none text-sm;
  }
  .pagination-item.active {
    @apply text-gray-50 bg-sky-600;
  }
}

@layer components {
  .select {
    @apply inline-flex cursor-pointer border-2 border-color bg-transparent py-1 px-2 rounded-md;
  }
}
